.game {
    display: flex;
}
.current-hand {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    border: solid;
    border-width: 1px;
    border-color:black;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 20px; 
    /* display: inline-block; */
    flex: 2;
}
.player-totals {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    border: solid;
    border-width: 1px;
    border-color:black;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 30px;
    display: inline-block;
    flex: 1;

}
.buttons {
    margin-left: 890px;
}
button {
    margin: 10px;
}