.game-display {
    display: flex;
}
.current-hand {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: solid;
    border-width: 1px;
    border-color:black; */
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 20px; 
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vh;
    height: 60vh;
}
.comp-current-hand, .your-current-hand {
    flex: 1;
    border: solid;
    border-width: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    white-space: pre;
}
.results {
    margin-top: 10px;
}
.score {
    display: flex;
    flex-direction: column;
    /* border: solid;
    border-width: 1px; */
    height: 64vh;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 100px;
}
.player-totals {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-width: 1px;
    border-color:black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.your-totals, .comp-totals {
    /* border: solid;
    border-width: 1px; */
    padding: 10px;
    margin: 10px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    flex: 1;
    white-space: pre;
}
.buttons {
    display: flex;
    justify-content: center;
    /* border: solid;
    border-width: 1px; */
    padding-top: 5px;
    padding-bottom: 5px;
}
.draw, .new-game {
    margin: 5px;
}