.game-display {
    display: flex;
}
.left {
    display: flex;
    flex: 2;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 20px; 
    width: 100vh;
    /* height: 100vh; */
}
.current-hand {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-width: 1px;
    border-color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 53vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.comp-current-hand, .your-current-hand {
    flex: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    white-space: pre;
    flex-wrap: nowrap;
}
.results {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    /* border: 1px solid black; */
    text-align: center;
}
.right {
    display: flex;
    flex-direction: column;
    height: 64vh;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 100px;
}
.player-totals {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid;
    border-width: 1px;
    border-color:black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.your-totals, .comp-totals {
    padding: 10px;
    margin: 10px;
    flex: 1;
    white-space: pre;
}
.buttons {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.draw, .new-game {
    margin: 5px;
}